{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}

{% block navbar %}

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toogle" data-toggle="collapse" data-targer=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
    <h1>Hello, Bootstrap</h1>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>


        <tbody>
        {% for table_param in table_params %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            {% if table_param %}
            <td>{{ table_param.f_name }}</td>
            <td>{{ table_param.l_name }}</td>
            <td>{{ table_param.u_name }}</td>
            {% else %}
            <td>None</td>
            <td>None</td>
            <td>None</td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endblock %}
</div>

{% endblock %}