{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toogle" data-toggle="collapse" data-targer=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <!--            <ul class="nav navbar-nav" href="/">
                            <li><a href="/">Home</a></li>
                        </ul>
            -->
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/">Test</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
    <h1>Worship Roster</h1>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
            <th>DateName</th>
            <th>Event</th>
            <th>Chinese Speaker</th>
            <th>Eng Speaker</th>
            <th>Presider</th>
            <th>Slide Control</th>
        </tr>
      </thead>


        <tbody>
        {% for table_param in table_params %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            {% if table_param %}
            <td>{{ table_param.date}}</td>
            <td>{{ table_param.event}}</td>
            <td>{{ table_param.speaker_chi}}</td>
            <td>{{ table_param.speaker_eng}}</td>
            <td>{{ table_param.presider}}</td>
            <td>{{ table_param.slide_ctrl}}</td>
            {% else %}
            <td>None</td>
            <td>None</td>
            <td>None</td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endblock %}
</div>

{% endblock %}